# --- ROS 2 Build Artifacts ---
build/
install/
log/
*.gv
*.pdf
serial_driver/
第二题程序设计文档.md

# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.venv/
env/
venv/

# --- IDE & Editors ---
.vscode/
.idea/
*.swp
*.swo
.cache/clangd/index/

# --- Gazebo & Logs ---
*.log
/tmp/
compile_commands.json

# --- AI ---
AGENTS.md
